<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">
    <meta name="author" content="Victor Delgado">
    <meta name="description" content="Samwise.js">
    <meta name="keywords" content="javascript, documentation, support">

    <title><%= current_page.data.title %></title>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,700|Merriweather:700">
    <%= stylesheet_link_tag 'lib/samwise', 'lib/basscraft' %>
  </head>

  <body class="<%= page_classes %>">

    <%= yield %>

    <%= partial "partials/_ga" %>
  </body>
</html>